---
Language: Cpp
Standard: c++20
UseTab: Never
LineEnding: LF

ColumnLimit: 180
IndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4
TabWidth: 4

AlignAfterOpenBracket: Align
AlignOperands: Align
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
BasedOnStyle: Mozilla
BinPackArguments: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
CompactNamespaces: true
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
NamespaceIndentation: All
SortIncludes: true
SpaceAroundPointerQualifiers: Before
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
PackConstructorInitializers: NextLineOnly

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: true
  BeforeWhile: false
...
